# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
#*.exe
*.out
*.app

.idea/
cmake-build-*/
test/testbins/CMakeFiles/
test/testbins/googlemock/
test/testbins/googletest/
test/testbins/lib/

.vscode/*
test/testbins/cmake_install.cmake
test/testbins/CTestTestfile.cmake

/api/python/_debuggercore.py
/api/python/enums.py
/test/cmake_install.cmake
/test/CMakeCache.txt
/test/Makefile
/test/CMakeFiles/
.gdb_history

*.pdb
*.ilk